body{
    background-color:#fdfdff;
    }
#card_Header{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
#card_footer{
    background-color: #fcfbff;
    color: rgb(0, 0, 0);
}
#card_body{
    background-color: hsl(0, 0%, 100%);
    color:rgb(0, 0, 0);
}